.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer; /* Para indicar que o Pokémon é clicável */
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    cursor: pointer;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    text-transform: capitalize;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 90%; /* Ajustar para ocupar a largura disponível */
    max-height: 90%; /* Garantir que não ultrapasse a tela */
    overflow: auto; /* Permitir rolagem se o conteúdo for muito grande */
    display: flex; /* Usando flexbox para organizar o layout */
    flex-direction: column; /* Inicia como coluna */
    position: relative;
}

.lightbox .close {
    position:absolute;
    justify-content: end;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Ajustes para os detalhes do Pokémon no lightbox */
.pokemon-details {
    justify-content: space-between; /* Espaçamento entre imagem e detalhes */
    align-items: center; /* Alinha verticalmente */
    justify-content: center;
}

.pokemon-details img {
    justify-content: center;
    align-items: flex-end;
    width: 150px; /* Largura fixa da imagem */
    height: auto;
    margin-right: 20px; /* Espaço entre a imagem e os detalhes */
}

.pokemon-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.pokemon-details p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.stats {
    margin-top: 10px;
}

.stat {
    margin: 10px 0;
}

.bar {
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}

.fill {
    background-color: #76c7c0;
    height: 100%;
    border-radius: 5px;
    text-align: right;
    padding-right: 5px;
    color: white;
    font-size: 0.8rem;
}
/* Estilos para a barra de rolagem do lightbox */
.lightbox-content::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
   
}

.lightbox-content::-webkit-scrollbar-track {
    background: #eee; /* Cor do fundo da barra de rolagem */
    border-radius: 4px;
}

.lightbox-content::-webkit-scrollbar-thumb {
    background-color: #76c7c0; /* Cor da barra de rolagem (HP) */
    margin-left: 14px;
    
}

.lightbox-content::-webkit-scrollbar-thumb:hover {
    background-color: #6ab9b0; /* Cor ao passar o mouse sobre a barra de rolagem */
    
}

@media screen and (max-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr; /* Uma coluna em telas pequenas */
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta automaticamente conforme a tela */
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Colunas maiores em telas grandes */
    }
}